*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    color: #fff;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo{
    font-size: 35px;
    color: cadetblue;
    padding-left: 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    padding-top: 10px;
}
.link{
    color: #fff;
    text-decoration: none;
}
.link:hover{
color: pink;
}
.bt:hover{
    color: #000;
    background-color: rgb(233, 141, 138);
}
.btn{
    padding: 15px;
}
.bt{
    padding: 10px;
    font-size: medium;
    border: 2px cadetblue solid;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
}
.hero{
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
}
.img-div{
    width: 400px;
    height: 400px;
}      
.img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 #fff,
    0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
.info-div{
    margin-left: 150px;
}
h1{
    font-size: 70px;
    color: cadetblue;
}
.btn2{
    display: flex;
    gap: 25px;
}
.bt1{
    padding: 10px;
    font-size: 20px;
    border: 2px cadetblue solid;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
}
.bt-li{
    text-decoration: none;
    color: #fff;
}
.heading{
    font-size: 40px;
    color: cadetblue;
    text-align: center;
    text-decoration: underline;
}
.img1{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 #fff,
    0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
h2{
    color: cadetblue;
    text-align: center;
    font-size: 30px;

}
p{
    color: cadetblue;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn3{
    font-size: #000;
    gap: 30px;
    text-align: center;
    justify-content: center;
    color: #000;
    background-color: #000;
}    
.icon{
    font-size: 30px;
    color: rgb(54, 119, 239);
    background-color: #ecf0f5;
    
}
.bt2{
    color: #000;
    background-color: #000;
}
.skill-h2{
    font-size: 30px;
    text-align: left;
    margin: 20px;
    color: #fff;
    font-weight: 400;
    margin-left: 10%;
}
.bar{
    margin-left: 10%;
    height: 20px;
    background-color: rgb(53, 53, 232);
    width: 450px;
    border: 2px #fff solid;
    border-radius: 5px;
    gap: 5px;
}
.bar1{
    margin-left: 10%;
    height: 15px;
    background-color: rgb(89, 232, 53);
    width: 400px;
    border: 2px #fff solid;
    border-radius: 5px;
    gap: 5px;
}
.bar2{
    margin-left: 10%;
    height: 15px;
    background-color: rgb(236, 50, 13);
    width: 370px;
    border: 2px #fff solid;
    border-radius: 5px;
    gap: 5px;
}
.bar3{
    margin-left: 10%;
    height: 15px;
    background-color: rgb(242, 245, 52);
    width: 350px;
    border: 2px #fff solid;
    border-radius: 5px;
    gap: 5px;
}
.bar4{
    margin-left: 10%;
    height: 15px;
    background-color: rgb(231, 73, 223);
    width: 300px;
    border: 2px #fff solid;
    border-radius: 5px;
    gap: 5px;
}
.bar5{
    margin-left: 10%;
    height: 15px;
    background-color: rgb(75, 207, 243);
    width: 280px;
    border: 2px #fff solid;
    border-radius: 5px;
    gap: 5px;
}
.project{
    display: flex;
    width: 100%;
}
.pro-h2{
    font-size: 30%px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    width: 30%;
    padding-left: 3%;
}
.pro-p{
    font-size: 20px;
    text-align: left;
    margin-right: 50px;
    width: 70%;
    padding-left: 0px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.card{
    width: 25%;
    height: 550px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid wheat;
    border-radius: 20px;
}
.card:hover{
    box-shadow: 15px 15px 10px cadetblue;
}
.img2{
    width: 94%;
    height: 200px;
    margin: 10px;
    margin-right: 5px;
    border: 2px solid rgb(185, 44, 44);
    border-radius: 5px;
}
.card-h{
    font-size: 25px;
    margin: 20px;
    margin-left: 30px;
}
.card-p{
    margin-bottom: 20px;
    
}
.tag-btn{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.tag{
    margin-left: 10px;
    background: rgb(239, 128, 146);
    
}
.tag,.tag1,.tag2{
    width: auto;
    height: auto;
    font-size: 20px;
    color: #000;
    padding: 10px;
    border: cadetblue;
    border-radius: 5px;
}
.tag1{
    background-color: rgb(223, 226, 43);
}
.tag2{
    background-color: rgb(51, 228, 104);

}
.contact{
    color: #fff;
    position: relative;
}
.container{
    padding: 96px 20px;
    padding-left: auto;
    padding-right: auto;
}
.con{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 48px;
}
.con-p{
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.form1{
    display: flex;
    margin: -0.5rem;
    flex-wrap: wrap;
}
.form2{
    padding: 0.5rem;
    width: 50%;
}
.form3{
    position: relative;
}
.lable{
    line-height: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: cadetblue;
}
.input{
    width: 100%;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 2rem;
    transition-property: color, background-color, backgroung-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email{
    padding: 0.5rem;
    width: 50%;
}
.email1{
    position: relative;
}
.email1{
    line-height: 1.75rem;
    color: cadetblue;
}
.email3{
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 2rem;
    transition-property: color, background-color, backgroung-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.msg{
    padding: 0.5rem;
    width: 100%;
}
.msg1{
    line-height: 1.75rem;
    color: cadetblue;
}
.msg3{
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    height: 8rem;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    resize: none;
    line-height: 2rem;
    transition-property: color, background-color, backgroung-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.con-btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 0.25rem;
    background-color: rgb(212, 138, 163);
}
.fot{
    padding: 0.5rem;
    width: 100%;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top-width: 1px;
    text-align: center;
}
.fot1{
    color: rgb(245, 246, 249);
}
.fot2{
    line-height: 1.5;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
}
.fot3{
    display: inline-flex;
    gap: 20px;
}
.fot4{
    color: rgb(242, 243, 244);
}
.icons{
    width: 1.25rem;
    height: 1.25rem;
}

@media (max-width:600px){
    body{
        padding: 10px;
        margin: 10px;
    }
    .form{
        width: 30%;

    }
    .main{
        display: flex;
        flex-direction: row;
        height: 400px;
    }
    .card{
        width: 90%;
        display: block;
        margin-bottom: 20px;
    }
    .project{
        display: flex;
        flex-direction: column;
    }
    .tag-btn{
        display: none;
    }
    h1{
        padding: 10px;
        font-size: 20px;
    }
    p{
        font-size: 10px;
        padding: 10px;
    }
    h2{
        font-size: 18px;
        padding: 10px;
    }
    .pro-h2{
        width: 90%;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    pro-p{
        width: 100px;
        text-align: justify;
    }
    .img1{
        margin-left: 30%;
    }
    .logo{
        display: none;
    }
    .btn{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .info-div{
        width: 90%;
        font-size: 30px;
        margin: 10px 0px;
        padding: 10px;
    }
    .info-div h1{
        font-size: 35px;
    }
}



